[submodule "clients/apple"]
	path = clients/apple
	url = https://github.com/oixcloud3rd/sing-box-for-apple.git
[submodule "clients/android"]
	path = clients/android
	url = https://github.com/oixcloud3rd/sing-box-for-android.git
[submodule "clients/desktop"]
	path = clients/desktop
	url = https://github.com/oixcloud3rd/sing-box-for-desktop.git
